@tailwind base;
@tailwind components;
@tailwind utilities;

#textblock {
  background-color: black;
  height: 100vh;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;
}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation, .animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#background {
  background-image: url(../public/images/background.png);
}

#bg3 {
  background-image: url(../public/images/bg3.png);
}

#bg2 {
  background-image: url(../public/images/bg2.png);
}

#bg1 {
  background-image: url(../public/images/bg1.png);
}

#black {
  background-image: url(../public/images/black.png);
}

#nametag {
  background-image: url(../public/images/nametag.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw; /* Adjust the width as needed */
  height: 100vh; /* Adjust the height as needed */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  #nametag {
    background-size: cover;
    width: 100vw;
    height: 66vh;
    background-position-y: 8em;
  }
}

@media (max-width: 480px) {
  #nametag {
    background-size: cover;
    width: 100vw;
    height: 66vh;
    background-position-y: 8em;
  }
}
